{% extends 'posutochno/base.html' %}

{% block title %}
  Правила и условия размещения квартир, домов и отелей на сайте www.снимунасутки.рф - квартиры, дома, отели посуточно в Ростове-на-Дону
{% endblock %}

{% block body %}
  <div class="container pad">
    <h1 >Размещение квартир, домов, отелей посуточно в Ростове-на-Дону</h1>
    <ul>
      <li >
        Для размещения ваших квартир посуточно необходимо зарегистрироваться на сайте нажав на кнопку вход в правом верхнем углу и там нажать на ссылку <b>"зарегистроваться"</b>
      </li>
      <li >После регистрации и входа на сайт у вас в правом верхнем углу появится значек подтверждающий ваш вход</li>
      <li >
        Для того что бы <b>добавить квартиру</b>, Вам нужно нажать на значек в правом верхнем углу и выбрать пункт - "Добавить квартиру", далее необходимо заполнить необходимые поля и ваша квартира появится на сайте
      </li>
      <li >
        Все ваши квартиры доступны в <b>"профиле пользователя"</b> зайти туда можно выбрав пункт "Ваш профиль"
      </li>
      <li >
        Для <b>редактирования квартиры</b>, вам необходимо зайти на страницу вашей квартиры и нажать кнопку редактировать, так же, по кнопке <b>удалить квартиру</b> - произойдет ее удаление
      </li>
      <li >Все необходимые инструменты по работы с данным сайтом находятся в правом верхнем углу сайта (при выполненом входе)</li>
      <li>
        <b>При каждой загрузке страницы все кваритиры выдаются в случайно порядке!</b>
      </li>
    </ul>
    <div>
      <h5>Сайт полностью автоматизирован - Все зголовки автоматически подставляются в meta ключи для поисковиков</h5>
    </div>
    <div>
        <h5>На данный момент размещение квартир на сайте - бесплатное</h5>
    </div>
  </div>
{% endblock %}
