@media (min-width: 1800px) and (max-width: 2560px) {
  main-details
    .container
    .main
    .main-topblock
    .topblock-left
    .topblock-left__img
    img {
    margin-top: 5px;
    width: 100%;
    height: 685px;
  }

  header .container .header .header-nav ul li {
    font-family: Poppins;
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }

  main .main-one .one ul {
    max-width: initial;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  main .main-one .one h4 {
    font-family: Poppins;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 41px;
  }

  main .two ul {
    max-width: 1800px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  aside {
    width: 24%;
    padding-left: 20px;
  }

  main-details {
    display: flex;
    justify-content: right;
  }

  main-details .container {
    max-width: 1500px;
  }

  .topblock-left__title {
    h4 {
      font-size: 22px;
      margin-top: 13px;
    }
  }

  .topblock-blockinfo {
    h4 {
      font-size: 22px;
      margin-top: 13px;
    }
  }

  main-details .container .main .topblock-blockinfo .blockinfo {
    width: 450px;
    height: 655px;
    .blockinfo-price {
      div {
        p {
          font-size: 20px;
          line-height: 0;
        }
      }
      div {
        span {
          font-size: 20px;
        }
      }
    }
    .blockinfo-district {
      font-size: 24px;
    }
    .blockinfo-address {
      font-size: 20px;
    }
    .blockinfo-stage {
      margin-bottom: 10px;
      .blockinfo-stage__left {
        font-size: 20px;
      }
      .blockinfo-stage__right {
        font-size: 20px;
      }
    }
    .blockinfo-rooms {
      margin-bottom: 10px;
      .blockinfo-rooms__left {
        font-size: 20px;
      }
      .blockinfo-rooms__right {
        font-size: 20px;
      }
    }
    .blockinfo-place {
      margin-bottom: 10px;
      .blockinfo-place__left {
        font-size: 20px;
      }
      .blockinfo-place__right {
        font-size: 20px;
      }
    }
    .blockinfo-guest {
      margin-bottom: 10px;
      .blockinfo-guest__left {
        font-size: 20px;
      }
      .blockinfo-guest__right {
        font-size: 20px;
      }
    }
  }
  main-details
    .container
    .main
    .topblock-blockinfo
    .blockinfo
    .blockinfo-timed
    .blockinfo-timed__left {
    span {
      font-size: 20px;
    }
    p {
      font-size: 20px;
    }
  }

  main-details
    .container
    .main
    .topblock-blockinfo
    .blockinfo
    .blockinfo-timed
    .blockinfo-timed__right {
    span {
      font-size: 20px;
    }
    p {
      font-size: 20px;
    }
  }

  main-details
    .container
    .main
    .topblock-blockinfo
    .blockinfo
    .blockinfo-services
    p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
  }

  main-details
    .container
    .main
    .topblock-blockinfo
    .blockinfo
    .blockinfo-services
    .card-services
    img {
    width: 40px;
    height: 40px;
    margin-right: 23px;
  }

  main-details
    .container
    .main
    .topblock-blockinfo
    .blockinfo
    .blokinfo-tel
    span {
    a {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      color: #424241;
    }
  }

  main-details .container .main .main-desscr {
    padding-top: 30px;
    font-size: 30px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1441px) and (max-width: 1600px) {
  header {
    .container {
      max-width: 1500px;
    }
  }

  .swiper-backface-hidden .swiper-slide {
    width: 600px;
  }

  main-details
    .container
    .main
    .main-topblock
    .topblock-left
    .topblock-left__img
    img {
    margin-top: 5px;
    margin-right: 30px;
    width: 90%;
    height: 491px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    overflow: hidden;
  }

  .pagination {
    .container {
      max-width: 1500px;
    }
  }

  footer {
    .container {
      max-width: 1500px;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  header .container .header .header-logo img {
    width: 335px;
    height: 45px;
  }
  header .container .header .header-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    padding-left: 90px;
  }

  aside .sidebar-vip {
    width: auto;
    height: 439px;
    position: relative;
    margin-bottom: 15px;
  }

  main-details
    .container
    .main
    .main-topblock
    .topblock-left
    .topblock-left__img
    img {
    margin-top: 5px;
    width: 100%;
    height: 491px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    overflow: hidden;
  }

  main-details .container .main .topblock-blockinfo .blockinfo {
    width: 351px;
    height: 455px;
    background-color: #fff;
    padding: 20px;
  }

  aside {
    width: auto;
    padding-left: 20px;
  }

  aside {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  header .container .header .header-logo img {
    width: 290px;
    height: 35px;
  }

  main .main .main-img {
    max-width: 1141px;
    height: 100px;
  }

  main-details
    .container
    .main
    .main-topblock
    .topblock-left
    .topblock-left__img
    img {
    margin-top: 5px;
    width: 115%;
    height: 491px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
  }

  main-details .container .main .topblock-blockinfo .blockinfo {
    width: 100%;
    height: 457px;
    background-color: #fff;
    padding: 20px;
  }

  aside {
    width: auto;
    padding-left: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  header .container {
    margin-bottom: 25px;
  }

  main .main .main-img {
    max-width: 1141px;
    height: 85px;
  }

  main .main-one .one ul li {
    width: 165px;
    min-height: 20vw;
    background: #fff;
    box-shadow: 0px 24px 50px rgba(0, 0, 0, 0.25);
    padding: 23px;
    margin: 0 30px 20px 0;
  }

  main .main-one .one ul li .card .card-img img {
    width: 165px;
    height: 150px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }

  main .main-one .one ul li .card .card-district p {
    padding-top: 11px;
    margin: 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }

  main .main-one .one ul li .card .card-address p {
    padding: 0;
    margin-bottom: 9px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0em;
    text-align: left;
    color: #909090;
    padding-bottom: 10px;
  }

  main .main-one .one ul li .card .card-services img {
    width: 20px;
    height: 20px;
    margin-right: 1.2vw;
  }

  main
    .main-one
    .one
    ul
    li
    .card
    .card-bottom
    .card-bottom__left
    .card-price
    .card-price__title {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #909090;
  }

  main
    .main-one
    .one
    ul
    li
    .card
    .card-bottom
    .card-bottom__left
    .card-price
    .card-price__sum {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #424241;
  }

  main .main-one .one ul li .card .card-bottom .card-bottom__right .card-btn {
    width: 8vw;
    height: 29px;
    border-radius: 0px;
    padding: 8px;
    background-color: #96648e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  main
    .main-one
    .one
    ul
    li
    .card
    .card-bottom
    .card-bottom__right
    .card-btn
    .card-btn__link {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
  }

  main .main-one .one h4 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
  }

  main .two h4 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
  }

  main .two ul li {
    width: 165px;
    min-height: 20vw;
    background: #fff;
    box-shadow: 0px 24px 50px rgba(0, 0, 0, 0.25);
    padding: 23px;
    margin: 0 30px 20px 0;
  }

  main .two ul li .card .card-img img {
    width: 165px;
    height: 150px;
    object-fit: cover;
    object-position: center;
  }

  main .two ul li .card .card-district p {
    padding-top: 11px;
    margin: 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
  }

  main .two ul li .card .card-address p {
    padding: 0;
    margin-bottom: 9px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 0;
    letter-spacing: 0em;
    text-align: left;
    color: #909090;
    padding-bottom: 10px;
  }

  main .two ul li .card .card-services img {
    width: 20px;
    height: 20px;
    margin-right: 1.2vw;
  }

  main
    .two
    ul
    li
    .card
    .card-bottom
    .card-bottom__left
    .card-price
    .card-price__title {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #909090;
  }

  main
    .two
    ul
    li
    .card
    .card-bottom
    .card-bottom__left
    .card-price
    .card-price__sum {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #424241;
  }

  main .two ul li .card .card-bottom .card-bottom__right .card-btn {
    width: 8vw;
    height: 29px;
    border-radius: 0px;
    padding: 8px;
    background-color: #96648e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  main
    .two
    ul
    li
    .card
    .card-bottom
    .card-bottom__right
    .card-btn
    .card-btn__link {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
  }

  main-details .container {
    max-width: 96%;
  }

  main-details
    .container
    .main
    .main-topblock
    .topblock-left
    .topblock-left__img
    img {
    margin-top: 5px;
    width: 115%;
    height: 491px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
  }

  header .container .header .header-logo {
    flex-wrap: wrap;
    img {
      width: 250px;
      height: 30px;
    }
  }

  header .container .header .header-login li {
    min-width: 140px;
  }

  main-details .container .main .topblock-blockinfo .blockinfo {
    width: 100%;
    height: 456px;
    background-color: #fff;
    padding: 20px;
  }

  main-details .container .main .main-desscr {
    margin-bottom: 30px;
  }

  aside {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header {
    position: relative;
    .menu-btn {
      cursor: pointer;
      position: absolute;
      top: 30px;
      right: 30px;
      width: 50px;
      height: 50px;

      span:nth-child(1) {
        position: absolute;
        top: 2px;
        width: 50px;
        height: 6px;
        background-color: black;
        transition: 0.5s;
      }
      span:nth-child(2) {
        position: absolute;
        top: 22px;
        width: 50px;
        height: 6px;
        background-color: black;
        transition: 0.5s;
      }
      span:nth-child(3) {
        position: absolute;
        bottom: 2px;
        width: 50px;
        height: 6px;
        background-color: black;
        transition: 0.5s;
      }
    }
    .menu-btn.active {
      cursor: pointer;
      position: absolute;
      top: 30px;
      right: 30px;
      width: 50px;
      height: 50px;
      transition: 0.5s;

      span:nth-child(1) {
        position: absolute;
        top: 22px;
        width: 50px;
        height: 6px;
        background-color: black;
        rotate: -45deg;
        transition: 0.5s;
      }
      span:nth-child(2) {
        position: absolute;
        top: 22px;
        width: 50px;
        height: 6px;
        background-color: transparent;
        transition: 0.5s;
      }
      span:nth-child(3) {
        position: absolute;
        bottom: 22px;
        width: 50px;
        height: 6px;
        background-color: black;
        rotate: 45deg;
        transition: 0.5s;
      }
    }
    .container {
      .header {
        .header-nav {
          ul {
            flex-direction: column;
          }
          display: none;
        }
        .header-login {
          display: none;
        }
        .header-logo {
          img {
            margin-right: 0;
            width: 250px;
            height: 30px;
          }
        }
      }
      .header-burger {
        position: absolute;
        right: 30px;
        top: 120px;
        width: 65vw;
        height: 50vh;
        z-index: 2;
        background-color: white;
        opacity: 0.9;
        transition: 0.5s;
        ul {
          list-style: none;
          li {
            padding: 0;
            margin-bottom: 10px;
            a {
              text-decoration: none;
              color: black;
              font-size: 24px;
            }
          }
        }
      }
    }
  }
  main {
    flex-direction: column;
    align-items: center;

    .container {
      .main {
        .main-img {
          padding-right: 20px;
        }
        .main-img__pic {
          width: 365px;
        }
        .main-one {
          .one {
            h4 {
              font-size: 25px;
            }
            ul {
              justify-content: center;
              li {
                width: 300px;
                margin-right: 0;
                .card {
                  .card-img {
                    img {
                      width: 300px;
                      margin-bottom: 10px;
                    }
                  }
                  .card-district {
                    p {
                      font-size: 22px;
                    }
                  }
                  .card-address {
                    p {
                      font-size: 20px;
                    }
                  }
                  .card-services {
                    img {
                      width: 40px;
                      height: 40px;
                      margin-top: 20px;
                      margin-bottom: 20px;
                    }
                  }
                  .card-bottom {
                    .card-bottom__left {
                      .card-price {
                        .card-price__title {
                          font-size: 20px;
                        }
                        .card-price__sum {
                          font-size: 25px;
                        }
                      }
                    }
                    .card-bottom__right {
                      .card-btn {
                        width: 160px;
                        height: 40px;

                        a {
                          font-size: 20px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .two {
            h4 {
              font-size: 25px;
            }
            ul {
              justify-content: center;
              li {
                width: 300px;
                margin-right: 0;
                .card {
                  .card-img {
                    img {
                      width: 300px;
                      margin-bottom: 10px;
                    }
                  }
                  .card-district {
                    p {
                      font-size: 22px;
                    }
                  }
                  .card-address {
                    p {
                      font-size: 20px;
                    }
                  }
                  .card-services {
                    img {
                      width: 40px;
                      height: 40px;
                      margin-top: 20px;
                      margin-bottom: 20px;
                    }
                  }
                  .card-bottom {
                    .card-bottom__left {
                      .card-price {
                        .card-price__title {
                          font-size: 20px;
                        }
                        .card-price__sum {
                          font-size: 25px;
                        }
                      }
                    }
                    .card-bottom__right {
                      .card-btn {
                        width: 160px;
                        height: 40px;

                        a {
                          font-size: 20px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  aside {
    display: none;
    width: 100%;
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    .sidebar-title {
      padding: 0;
      margin: 50px 0 30px 0;
      font-size: 40px;
    }
    .sidebar-price {
      width: 300px;
      div {
        padding-right: 20px;
        .sidebar-btn {
          font-size: 30px;
        }
      }
      ul {
        li {
          a {
            font-size: 20px;
          }
        }
      }
    }
    .sidebar-district {
      width: 300px;
      div {
        padding-right: 20px;
        .sidebar-btn {
          font-size: 30px;
        }
      }
      ul {
        li {
          a {
            font-size: 20px;
          }
        }
      }
      margin-bottom: 20px;
    }
    .sidebar-vip {
      img {
        width: 250px;
      }
      div {
        .sidebar-vip__district {
          width: 195px;
          font-size: 18px;
        }
        .sidebar-vip__address {
          width: 195px;
          font-size: 16px;
        }
      }
      .sidebar-vip__btn {
        left: 17%;
      }
    }
  }

  main-details .container .main .main-topblock {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  main-details
    .container
    .main
    .main-topblock
    .topblock-left
    .topblock-left__img
    img {
    margin-top: 5px;
    width: 520px;
    height: 491px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    overflow: hidden;
  }

  header .container {
    margin: 0 auto;
    padding: 0 30px;
    margin-bottom: 15px;
    max-width: 1600px;
    min-height: 120px;
    display: flex;
  }

  main-details .container .main .topblock-blockinfo .blockinfo {
    width: 480px;
    height: 491px;
    background-color: #fff;
    padding: 20px;
  }

  main-details .container .main .main-desscr {
    padding-top: 30px;
    margin-bottom: 30px;
  }

  .pagination {
    .container {
      justify-content: space-between;
    }
  }

  footer {
    .container {
      flex-direction: column;
      align-items: center;
      .footer-left {
        flex-direction: column;
        text-align: center;
        h4 {
          font-size: 30px;
        }
        ul {
          padding: 0;
          margin: 0;
          li {
            font-size: 20px;
          }
        }
      }
      .footer-right {
        margin-top: 10px;
        align-items: center;
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .swiper,
  swiper-container {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
  }

  main-details .container .main .main-desscr {
    margin-top: 20px;
    padding: 30px 20px;
    background-color: #fff;
    width: 73vw;
  }

  header {
    position: relative;
    .menu-btn {
      cursor: pointer;
      position: absolute;
      top: 30px;
      right: 30px;
      width: 50px;
      height: 50px;

      span:nth-child(1) {
        position: absolute;
        top: 2px;
        width: 50px;
        height: 6px;
        background-color: black;
        transition: 0.5s;
      }
      span:nth-child(2) {
        position: absolute;
        top: 22px;
        width: 50px;
        height: 6px;
        background-color: black;
        transition: 0.5s;
      }
      span:nth-child(3) {
        position: absolute;
        bottom: 2px;
        width: 50px;
        height: 6px;
        background-color: black;
        transition: 0.5s;
      }
    }
    .menu-btn.active {
      cursor: pointer;
      position: absolute;
      top: 30px;
      right: 30px;
      width: 50px;
      height: 50px;
      transition: 0.5s;

      span:nth-child(1) {
        position: absolute;
        top: 22px;
        width: 50px;
        height: 6px;
        background-color: black;
        rotate: -45deg;
        transition: 0.5s;
      }
      span:nth-child(2) {
        position: absolute;
        top: 22px;
        width: 50px;
        height: 6px;
        background-color: transparent;
        transition: 0.5s;
      }
      span:nth-child(3) {
        position: absolute;
        bottom: 22px;
        width: 50px;
        height: 6px;
        background-color: black;
        rotate: 45deg;
        transition: 0.5s;
      }
    }
    .container {
      margin-bottom: 10px;
      .header {
        .header-nav {
          ul {
            flex-direction: column;
          }
          display: none;
        }
        .header-login {
          display: none;
        }
        .header-logo {
          img {
            margin-right: 0;
            width: 250px;
            height: 30px;
          }
        }
      }
      .header-burger {
        position: absolute;
        right: 30px;
        top: 120px;
        width: 65vw;
        height: 50vh;
        z-index: 2;
        background-color: white;
        opacity: 0.9;
        transition: 0.5s;
        ul {
          list-style: none;
          li {
            padding: 0;
            margin-bottom: 10px;
            a {
              text-decoration: none;
              color: black;
              font-size: 24px;
            }
          }
        }
      }
    }
  }

  main .container .main .main-img__pic {
    width: 320px;
  }
  main .container .main .main-one .one ul li {
    width: 271px;
    margin-right: 30px;
  }

  main .container .main .main-one .one ul li .card .card-img img {
    width: 270px;
    margin-bottom: 10px;
  }

  main
    .container
    .main
    .main-one
    .one
    ul
    li
    .card
    .card-bottom
    .card-bottom__right
    .card-btn {
    width: 140px;
    height: 40px;
  }

  main .container .main .main-one .two ul li {
    width: 271px;
    margin-right: 30px;
  }

  main .container .main .main-one .two ul li .card .card-img img {
    width: 270px;
    margin-bottom: 10px;
  }

  main
    .container
    .main
    .main-one
    .two
    ul
    li
    .card
    .card-bottom
    .card-bottom__right
    .card-btn {
    width: 140px;
    height: 40px;
  }

  aside {
    display: none;
  }

  main-details .container .main .main-desscr {
    margin-bottom: 30px;
  }

  main-details .container .main .main-topblock {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  main-details
    .container
    .main
    .main-topblock
    .topblock-left
    .topblock-left__img
    img {
    margin-top: 5px;
    width: 390px;
    height: 325px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
  }

  footer {
    .container {
      flex-direction: column;
      align-items: center;
      .footer-left {
        flex-direction: column;
        text-align: center;
        h4 {
          font-size: 30px;
        }
        ul {
          padding: 0;
          margin: 0;
          li {
            font-size: 20px;
          }
        }
      }
      .footer-right {
        margin-top: 10px;
        align-items: center;
      }
    }
  }
  main-details .container .main .topblock-blockinfo .blockinfo {
    width: 75vw;
    height: 491px;
    background-color: #fff;
    padding: 20px;
  }

  main-details
    .container
    .main
    .main-topblock
    .topblock-left
    .topblock-left__img
    img {
    margin-top: 5px;
    width: 85vw;
    height: 325px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
  }

  main .main-one .one h4 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
  }

  main .main-one .one ul li .card .card-district p {
    padding-top: 13px;
    margin: 0;
    font-family: Poppins;
    font-size: 19px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
  }

  main .main-one .one ul li .card .card-address p {
    padding: 0;
    margin-bottom: 9px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #909090;
    padding-bottom: 10px;
  }

  main .main-one .one ul li .card .card-services img {
    width: 20px;
    height: 20px;
    margin-right: 1.2vw;
  }

  main
    .main-one
    .one
    ul
    li
    .card
    .card-bottom
    .card-bottom__left
    .card-price
    .card-price__title {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #909090;
  }

  main
    .main-one
    .one
    ul
    li
    .card
    .card-bottom
    .card-bottom__left
    .card-price
    .card-price__sum {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #424241;
  }

  main
    .main-one
    .one
    ul
    li
    .card
    .card-bottom
    .card-bottom__right
    .card-btn
    .card-btn__link {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
  }

  main .two h4 {
    font-family: Poppins;
    font-size: 17px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
  }

  main .two ul li .card .card-district p {
    padding-top: 13px;
    margin: 0;
    font-family: Poppins;
    font-size: 19px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
  }

  main .two ul li .card .card-address p {
    padding: 0;
    margin-bottom: 9px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #909090;
    padding-bottom: 10px;
  }

  main .two ul li .card .card-services img {
    width: 20px;
    height: 20px;
    margin-right: 1.2vw;
  }

  main
    .two
    ul
    li
    .card
    .card-bottom
    .card-bottom__left
    .card-price
    .card-price__title {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #909090;
  }

  main
    .two
    ul
    li
    .card
    .card-bottom
    .card-bottom__left
    .card-price
    .card-price__sum {
    font-family: Poppins;
    font-size: 29px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #424241;
  }

  main
    .two
    ul
    li
    .card
    .card-bottom
    .card-bottom__right
    .card-btn
    .card-btn__link {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
  }

  main .main .main-img {
    max-width: 1141px;
    height: 60px;
  }

  main .two ul li {
    width: 67vw;
    min-height: 20vw;
    background: #fff;
    box-shadow: 0px 24px 50px rgba(0, 0, 0, 0.25);
    padding: 23px;
    margin: 0 30px 20px 0;
  }
  main .two ul li .card .card-img img {
    width: 67vw;
    height: 150px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }
  main .two ul li .card .card-bottom .card-bottom__right .card-btn {
    width: 28vw;
    height: 10vw;
    border-radius: 0px;
    padding: 8px;
    background-color: #96648e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .swiper,
  swiper-container {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
  }

  main-details .container .main .main-desscr {
    margin-top: 20px;
    padding: 30px 20px;
    background-color: #fff;
    width: 73vw;
  }

  header {
    position: relative;
    .menu-btn {
      cursor: pointer;
      position: absolute;
      top: 30px;
      right: 30px;
      width: 50px;
      height: 50px;

      span:nth-child(1) {
        position: absolute;
        top: 2px;
        width: 50px;
        height: 6px;
        background-color: black;
        transition: 0.5s;
      }
      span:nth-child(2) {
        position: absolute;
        top: 22px;
        width: 50px;
        height: 6px;
        background-color: black;
        transition: 0.5s;
      }
      span:nth-child(3) {
        position: absolute;
        bottom: 2px;
        width: 50px;
        height: 6px;
        background-color: black;
        transition: 0.5s;
      }
    }
    .menu-btn.active {
      cursor: pointer;
      position: absolute;
      top: 30px;
      right: 30px;
      width: 50px;
      height: 50px;
      transition: 0.5s;

      span:nth-child(1) {
        position: absolute;
        top: 22px;
        width: 50px;
        height: 6px;
        background-color: black;
        rotate: -45deg;
        transition: 0.5s;
      }
      span:nth-child(2) {
        position: absolute;
        top: 22px;
        width: 50px;
        height: 6px;
        background-color: transparent;
        transition: 0.5s;
      }
      span:nth-child(3) {
        position: absolute;
        bottom: 22px;
        width: 50px;
        height: 6px;
        background-color: black;
        rotate: 45deg;
        transition: 0.5s;
      }
    }
    .container {
      margin-bottom: 10px;
      .header {
        .header-nav {
          ul {
            flex-direction: column;
          }
          display: none;
        }
        .header-login {
          display: none;
        }
        .header-logo {
          img {
            margin-right: 0;
            width: 250px;
            height: 30px;
          }
        }
      }
      .header-burger {
        position: absolute;
        right: 30px;
        top: 120px;
        width: 65vw;
        height: 50vh;
        z-index: 2;
        background-color: white;
        opacity: 0.9;
        transition: 0.5s;
        ul {
          list-style: none;
          li {
            padding: 0;
            margin-bottom: 10px;
            a {
              text-decoration: none;
              color: black;
              font-size: 24px;
            }
          }
        }
      }
    }
  }

  aside {
    display: none;
  }

  main-details .container .main .main-topblock {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  main-details
    .container
    .main
    .main-topblock
    .topblock-left
    .topblock-left__img
    img {
    margin-top: 5px;
    width: 85vw;
    height: 240px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
  }

  main-details .container .main .topblock-blockinfo .blockinfo {
    width: 73vw;
    height: 468px;
    background-color: #fff;
    padding: 20px;
  }

  .main-desscr {
    margin-bottom: 30px;
  }

  header .container .header .header-logo img {
    margin-right: 0;
    width: 189px;
    height: 23px;
  }

  main .container .main .main-img__pic {
    width: 270px;
  }

  main .container .main .main-one .one ul li {
    width: 210px;
    margin-right: 30px;
  }

  main .container .main .main-one .one ul li .card .card-img img {
    width: 210px;
    margin-bottom: 10px;
  }

  main .container .main .main-one .one ul li .card .card-district p {
    font-size: 18px;
  }

  main .container .main .main-one .one ul li .card .card-address p {
    font-size: 15px;
  }

  main .container .main .main-one .one ul li .card .card-services img {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  main
    .container
    .main
    .main-one
    .one
    ul
    li
    .card
    .card-bottom
    .card-bottom__right
    .card-btn {
    width: 90px;
    height: 40px;
  }

  main .container .main .main-one .two ul li {
    width: 210px;
    margin-right: 30px;
  }

  main .container .main .main-one .two ul li .card .card-img img {
    width: 210px;
    margin-bottom: 10px;
  }

  main .container .main .main-one .two ul li .card .card-district p {
    font-size: 18px;
  }

  main .container .main .main-one .two ul li .card .card-address p {
    font-size: 15px;
  }

  main .container .main .main-one .two ul li .card .card-services img {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  main
    .container
    .main
    .main-one
    .two
    ul
    li
    .card
    .card-bottom
    .card-bottom__right
    .card-btn {
    width: 90px;
    height: 40px;
  }

  footer {
    .container {
      flex-direction: column;
      align-items: center;
      .footer-left {
        flex-direction: column;
        text-align: center;
        h4 {
          font-size: 30px;
        }
        ul {
          padding: 0;
          margin: 0;
          li {
            font-size: 20px;
          }
        }
      }
      .footer-right {
        margin-top: 10px;
        align-items: center;
      }
    }
  }

  main .container .main .main-img__pic {
    width: 253px;
  }
  main .main .main-img {
    max-width: 1141px;
    height: 50px;
  }

  main .main-one .one h4 {
    font-family: Poppins;
    font-size: 17px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
  }

  main .container .main .main-one .one ul li {
    width: 64vw;
    margin-right: 30px;
  }

  main .container .main .main-one .two ul li {
    width: 64vw;
    margin-right: 30px;
  }
  main
    .main-one
    .one
    ul
    li
    .card
    .card-bottom
    .card-bottom__left
    .card-price
    .card-price__title {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #909090;
  }
  main
    .main-one
    .one
    ul
    li
    .card
    .card-bottom
    .card-bottom__left
    .card-price
    .card-price__sum {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #424241;
  }

  main
    .main-one
    .one
    ul
    li
    .card
    .card-bottom
    .card-bottom__right
    .card-btn
    .card-btn__link {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
  }

  main .two h4 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
  }

  main
    .two
    ul
    li
    .card
    .card-bottom
    .card-bottom__left
    .card-price
    .card-price__title {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #909090;
  }

  main
    .two
    ul
    li
    .card
    .card-bottom
    .card-bottom__left
    .card-price
    .card-price__sum {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #424241;
  }

  main
    .two
    ul
    li
    .card
    .card-bottom
    .card-bottom__right
    .card-btn
    .card-btn__link {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
  }

  main .two ul li {
    width: 63vw;
    min-height: 20vw;
    background: #fff;
    box-shadow: 0px 24px 50px rgba(0, 0, 0, 0.25);
    padding: 23px;
    margin: 0 30px 20px 0;
  }

  main .two ul li .card .card-img img {
    width: 64vw;
    height: 150px;
    object-fit: cover;
    object-position: center;
  }

  main .two ul li .card .card-district p {
    padding-top: 13px;
    margin: 0;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
  }
  main .two ul li .card .card-address p {
    padding: 0;
    margin-bottom: 9px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 8px;
    letter-spacing: 0em;
    text-align: left;
    color: #909090;
    padding-bottom: 10px;
  }

  main .two ul li .card .card-services img {
    width: 20px;
    height: 20px;
    margin-right: 1.2vw;
  }

  main .two ul li .card .card-bottom .card-bottom__right .card-btn {
    width: 28vw;
    height: 11vw;
    border-radius: 0px;
    padding: 8px;
    background-color: #96648e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}
